#custom-border {
    -fx-border-color: #464646;
    -fx-background-color: #a0a0a0;
    -fx-border-width: 0 2 0 2;
    -fx-border-style: solid;
    -fx-padding: 10;
    -fx-spacing: 8;
}

#custom-menu {
    -fx-background-color: #a0a0a0;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-border-width: 2 2 2 2;
    -fx-border-style: solid;
    -fx-border-color: #464646;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#custom-title {
    -fx-font-size: 62px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

.custom-smallTitle{
    -fx-font-size: 24px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}


.custom-redTitle {
    -fx-font-size: 24px;
    -fx-fill: #B22222;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#custom-timer {
    -fx-font-size: 24px;
    -fx-font-family: "Arial Narrow";
    -fx-text-fill: rgba(42, 80, 88, 0.84);
    -fx-font-weight: bold;
}

#custom-footer {
    -fx-background-color: #a0a0a0;
    -fx-border-width: 2 2 2 2;
    -fx-border-style: solid;
    -fx-border-color: #464646;
}

.table-view .column-header{
    -fx-border-color: #a3a09c;
}
